
/* Bestehende Stile */
.highlighted-folder {
    background-color: var(--highlighted-folder-color, #eeeeee) !important;
    border-radius: var(--highlighted-folder-border-radius, 5px) !important;
    margin: 5px 0;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.highlighted-folder > .nav-folder-title {
    background-color: var(--highlighted-folder-title-color, #ffffff00) !important;
    border-radius: 5px;
    margin-bottom: 5px;
    color: var(--highlighted-folder-text-color, #000000) !important;
}

/* Neue Stile für den Root Ordner */
.highlighted-parent-folder {
    background-color: var(--highlighted-parent-folder-color, #dddddd) !important;
    border-radius: var(--highlighted-parent-folder-border-radius, 5px) !important;
    padding: 5px;
    margin: 5px 0;
}

.highlighted-parent-folder > .nav-folder-title {
    border-radius: 5px;
    margin-bottom: 5px;
    color: var(--highlighted-parent-folder-text-color, #000000) !important;
}

/* Restliche Stile bleiben unverändert */
.highlighted-folder > .nav-folder-title:hover,
.highlighted-folder > .nav-folder-title.is-being-dragged,
.highlighted-parent-folder > .nav-folder-title:hover,
.highlighted-parent-folder > .nav-folder-title.is-being-dragged {
    color: #000000 !important;
}

.highlighted-folder .nav-file-title,
.highlighted-parent-folder .nav-file-title {
    color: inherit !important;
}

.highlighted-folder .nav-file-title.is-active,
.highlighted-parent-folder .nav-file-title.is-active {
    font-weight: bold;
    color: inherit !important;
}

.highlighted-folder .nav-file-title:hover,
.highlighted-folder .nav-file-title.is-being-dragged,
.highlighted-parent-folder .nav-file-title:hover,
.highlighted-parent-folder .nav-file-title.is-being-dragged {
    color: inherit !important;
}